---
import Hero from "../components/Hero.astro";
import VelkommenSection from "../components/VelkommenSection.astro";
import WorkshopSection from "../components/WorkshopSection.astro";
import HoldSection from "../components/HoldSection.astro";
import SomeSection from "../components/SomeSection.astro";
import Button from "../components/Button.astro";
import "../styles/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dansestudiet</title>
	</head>
	<body>
		<main>
			<header>
				<img src="./pictures/logo_img.svg" alt="logo foto">
			</header>
			<Hero>
			</Hero>

			<VelkommenSection>
			</VelkommenSection>
			
			<div class="padding">
				<h2>Nyheder hos Dansestudiet</h2>
					<WorkshopSection
					titel="Labortorium"
					beskrivelse="Movement labortorium med Vittoria"
					tid="14:00-16:00"
					dato="Lør. d. 4 feb til Søn. d. 5 feb"
					/>
			</div>
			
			<div class="padding">
					<WorkshopSection
					titel="Labortorium"
					beskrivelse="Movement labortorium med Vittoria"
					tid="14:00-16:00"
					dato="Lør. d. 4 feb til Søn. d. 5 feb"
					/>
			</div>
			

			<div>
				<HoldSection></HoldSection>
			</div>

			<SomeSection></SomeSection>
			
			<footer/>
		</main>
		
	</body>
</html>
