---
import Hero from "../components/Hero.astro";
import Velkommen from "../components/VelkommenSection.astro";
import Workshop from "../components/WorkshopSection.astro";
import Hold from "../components/HoldSection.astro";
import Some from "../components/SomeSection.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dansestudiet</title>
	</head>
	<body>
		<main>
			<header>
				<img src="./pictures/logo_img.svg" alt="logo foto">
			</header>
			<Hero>
			</Hero>

			<Velkommen>
			</Velkommen>

			<Workshop variant="workshop">
			</Workshop>

			<Workshop variant="lab">
			</Workshop>

			<Hold></Hold>

			<Some></Some>

			
			<footer/>
		</main>
		
	</body>
</html>

<style>
 	body{
		margin: 0;
        padding: 0;
		background-color: rgb(51, 51, 51);
 	}

	header{
		background-color: rgb(37, 37, 37);
		padding-inline: 20px;
		padding-block: 20px;
		width: auto;
		height: auto;
	}
	

	/*WORKSHOP SEKTION*/

	footer{
		background-color: rgb(37, 37, 37);
		padding-block: 50px;
		width: auto;
		height: auto;
	}



</style>
