---
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Section from "../components/VelkommenSection.astro";
import Section from "../components/WorkshopSection.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dansestudiet</title>
	</head>
	<body>
		<main>
			<header>
				<img src="./pictures/logo_img.svg" alt="logo billede">
			</header>
			<Hero>
			</Hero>

			<Section variant="velkommen">
				<section class="velkommen">
					<div class="velkommen"><img class="styletext" src="/pictures/styletext.svg" alt="styletext">
						<div class="content">
							<div>
								<h2>Dans med os i hjertet af Aarhus</h2>
							</div>
							<div>
								<p>
									Hos dansestudiet tilbyder vi mange forskellige stilarter af dans
								</p>
								<p>
									Vi tilbyder 50 forskellige danseklasser om ugen og du kan blive undervist af 25 kompetente undervisere.
								</p>
								<p>
									Vi tilbyder alverdens genre fra A-z. Kom indenfor og se om du er mere til Street Jazz, Hip Hop eller Klassisk Ballet.
								</p>
								<p>
									Tilmeldingen til dette års efterårssæson er fortsat åben. Læs mere under tilmelding og hold og find et hold som passer til dig og dit niveau!
								</p>
							</div>
							<Button variant="secondary">
							Læs mere her
							</Button>
						</div>
						<img class="pigedanser" src="/pictures/velkommen_img.svg" alt="pige danser">
					</div>
				</section>
				
			</Section>

			<Section variant="workshop">
				Workshop section 1
				<Button variant="secondary">
					Læs mere her
				</Button>
			</Section>

			<Section variant="workshop">
				Workshop section 2
				<Button variant="secondary">
					Læs mere her
				</Button>
			</Section>

			<Section variant="hold">
				Hold section
				<Card variant="voksenhold">card 1</Card>
				<Card variant="bornehold">card 2</Card>
			</Section>

			<Section variant="some">
				Social media section
			</Section>
			<footer/>
		</main>
		
	</body>
</html>

<style>
 	body{
		margin: 0;
        padding: 0;
		background-color: rgb(51, 51, 51);
 	}

	header{
		background-color: rgb(37, 37, 37);
		padding-inline: 20px;
		padding-block: 20px;
		width: auto;
		height: auto;
	}
	

	/*WORKSHOP SEKTION*/

	footer{
		background-color: rgb(37, 37, 37);
		padding-block: 50px;
		width: auto;
		height: auto;
	}



</style>
