---
const { variant } = Astro.props;
import "../styles/style.css";
---

<button class={variant}>
<slot/>
</button>


<style>
.primary{
 background-color: var(--primary-button-bg-color);
 border-color: var(--primary-button-bg-color);
}

.secondary{
border-color: var(--bg-color-tertiary);
background-color: transparent;
color: var(--text-color-primary)
}

    
</style>