---
const { variant } = Astro.props;
import "../styles/style.css";
---

<button class={variant}>
<slot/>
</button>


<style>
.primary{
 background-color: var(--primary-button-bg-color);
 border-color: var(--primary-button-bg-color);
 font-size: var(--button-font-size);
padding: var(--web-xxs);
border-radius: var(--web-xxs);
font-family: "ParagraphNormal";
font-weight: var(--button-font-weight);
}

.secondary{
border-color: var(--bg-color-tertiary);
background-color: transparent;
color: var(--text-color-primary);
font-size: var(--button-font-size);
padding: var(--web-xxs);
border-radius: var(--web-xxs);
font-family: "ParagraphNormal";
font-weight: var(--button-font-weight);
}

    
</style>