---
const { variant } = Astro.props;
import Button from "../components/Button.astro";
---
<section>
<Button variation="primary">Tilmeld dig</Button>
</section>


<style>

section{
 padding: 20px;
}
.voksenhold{
background-color: blue;
}

.bornehold{
    background-color: red;
}


</style>