---
const { variant } = Astro.props;
import Button from "../components/Button.astro";
import "../styles/style.css";
---
<section>
<Button variant="primary">Tilmeld dig</Button>
</section>


<style>
.voksenhold{
background-color: var(--bg-color-tertiary);
}

.bornehold{
    background-color: var(--primary-button-bg-color);
}


</style>