---
const { titel, beskrivelse, billede} = Astro.props;
import Button from "../components/Button.astro";
import "../styles/style.css";
---
<section>
    <img src={billede} alt="">
    <h3>{titel}</h3>
    <p>{beskrivelse}</p>
<Button variant="primary">Tilmeld dig</Button>
</section>


<style>

    section {
        background-color: var(--bg-color-secondary);
    }

    h3, p {
        color: var(--text-color-primary);
    }


</style>