---
const {titel, beskrivelse} = Astro.props;
import Card from "../components/Card.astro";
---
<section class="grid">
    <h2 class="child1">VORES HOLD</h2>
<Card class="child2"
billede="../pictures/voksenhold.webp"
titel="VOKSENHOLD - 16+ år"
beskrivelse="Se vores mange holdtilbud til unge og voksne over 16 år. Vi tilbyder 7 forskellige tilbud til dig og dine behov.">
</Card>

<Card class="child3"
billede="../pictures/bornehold.webp"
titel="BØRNHOLD - 3-15 år"
beskrivelse="Se vores mange holdtilbud til unge og voksne i alderen 3-15 år. Vi tilbyder 4 forskellige hold til dig og dine behov.">
</Card>
</section>

<style>
    .grid {
    display: grid; 
grid-template-columns: repeat(2, 1fr);
gap: var(--web-xs);
    }

    .child1 {
      grid-area: 1 / 1 / 2 / 3;
    }
    .child2{ 
      grid-area: 2 / 1 / 3 / 2; 
    }

    .child3 {
        grid-area: 2 / 2 / 3 / 3;
    }
      section {
        background-color: var(--bg-color-primary);
    }

    h2 {
        color: var(--text-color-primary);
    }
</style>