---
const { variant } = Astro.props;
import Button from "./Button.astro";
---

<section class={variant}>
<slot/>
</section>


<style>
.velkommen{
color: white;
}

.workshop{
    color: white;
}

.hold{
    background-color: rgb(65, 65, 65);
    color: white;
}

.some{
    background-color: rgb(65, 65, 65);
    color: white;
}

</style>
