---
const { titel, beskrivelse, somelinktekst,} = Astro.props;
import "../styles/style.css";
---

<section class="grid">
    <h2 class="child1">{titel}</h2>
    <p class="child2">{beskrivelse}</p>
    <div class="child3">
    <h2>{somelinktekst}</h2>
    <div class="some">
    <img src="./icons/instagramicon.svg"/>
    <img src="./icons/facebookicon.svg"/>
    <img src="./icons/tiktokicon.svg"/>
    </div>
    </div>
</section>

<style>
    .grid {
        display: grid; 
grid-template-columns: repeat(3, 1fr); 
grid-column-gap: 0px;
grid-row-gap: 0px; 
align-items: center;
margin-bottom: var(--web-s);
    }
    .child1 {
grid-area: 1 / 2 / 2 / 3;

    }

    .child2 {
grid-area: 2 / 2 / 3 / 3;

    }
    .child3 {
grid-area: 3 / 2 / 4 / 3;
    }

     p {
        color: var(--text-color-primary);
    }

    h2 {
        color: var(--brand-header-text-color);
    }

    .some {
        display: flex;
        gap: var(--web-s);
        justify-content: center;
        flex-wrap: wrap;
    }

    img {
        width: var(--web-m);
        height: var(--web-m);
    }
</style>