---
const { variant } = Astro.props;
import Button from "./Button.astro";
import "../styles/style.css";
---

<section class="velkommen">
    <div class="velkommen"><img class="styletext" src="/pictures/styletext.svg" alt="styletext">
        <div class="content">
            <div>
                <h2>Dans med os i hjertet af Aarhus</h2>
            </div>
            <div>
                <p>
                    Hos dansestudiet tilbyder vi mange forskellige stilarter af dans
                </p>
                <p>
                    Vi tilbyder 50 forskellige danseklasser om ugen og du kan blive undervist af 25 kompetente undervisere.
                </p>
                <p>
                    Vi tilbyder alverdens genre fra A-z. Kom indenfor og se om du er mere til Street Jazz, Hip Hop eller Klassisk Ballet.
                </p>
                <p>
                    Tilmeldingen til dette års efterårssæson er fortsat åben. Læs mere under tilmelding og hold og find et hold som passer til dig og dit niveau!
                </p>
            </div>
            <Button variant="secondary">
            Læs mere her
            </Button>
        </div>
        <img class="pigedanser" src="/pictures/velkommenpic.webp" alt="pige danser">
    </div>
</section>


<style>
.velkommen{
		display: flex;
		padding-inline: 20px;
		background-color: var(--bg-color-primary);
        color: var(--text-color-primary);
        font-size: var(--paragraph-size-normal);
	}

	.content{
		margin-inline: 50px;
	}

</style>