---
const { variant } = Astro.props;
import Button from "./Button.astro";
import "../styles/style.css";
---

<section>
    <div class="velkommen"><img class="styletext" src="/pictures/StyleText.webp" alt="styletext">
        <div class="content">
            <div>
                <h2>Dans med os i hjertet af Aarhus</h2>
            </div>
            <div>
                <p>
                    Hos dansestudiet tilbyder vi mange forskellige stilarter af dans
                </p>
                <p>
                    Vi tilbyder 50 forskellige danseklasser om ugen og du kan blive undervist af 25 kompetente undervisere.
                </p>
                <p>
                    Vi tilbyder alverdens genre fra A-z. Kom indenfor og se om du er mere til Street Jazz, Hip Hop eller Klassisk Ballet.
                </p>
                <p>
                    Tilmeldingen til dette års efterårssæson er fortsat åben. Læs mere under tilmelding og hold og find et hold som passer til dig og dit niveau!
                </p>
            </div>
            <Button class="button" variant="primary">
            Se alle vores hold
            </Button>
        </div>
        <img class="pigedanser" src="/pictures/velkommenpic.webp" alt="pige danser">
    </div>
</section>


<style>
.velkommen{
		display: flex;
		padding-inline: var(--web-xs);
		background-color: var(--bg-color-primary);
        color: var(--text-color-primary);
        font-size: var(--paragraph-size-normal);

	}

    h2, p{
        text-align: left;
    }

    h2 {
        color: var(--brand-header-text-color);
    }

    .styletext{
        padding: var(--web-xs);
    }

	.content{
		margin-inline: var(--web-m);
        padding: var(--web-xs);
	}
</style>