---
const { variant } = Astro.props;
import Button from "./Button.astro";
---

<section class={variant}>
<slot/>
<Button variant="secondary">
    Læs mere her
</Button>
</section>


<style>
    .workshop, .lab{
    color: white;
    padding-inline: 60px;
    padding-block: 40px;
    align-self: center;
}
</style>