---
const { titel, beskrivelse, tid, dato, billede } = Astro.props;
import Button from "./Button.astro";
import "../styles/style.css";
---

<section>
    <div class="grid">
        <h2>{titel}</h2>
        <p>{beskrivelse}</p>
        <img src="./icons/klokkeicon.svg" alt="">
        <p>{tid}</p>
        <img src="./icons/datoicon.svg" alt="">
        <p>{dato}</p>
        <img src="./pictures/workshop_1_img.svg" alt="">
        <Button variant="secondary">
            Læs mere her
        </Button>
    </div>
</section>

<style>
    h2 {
    color: var(--text-color-tertiary);
    line-height: normal;
    }

    p{
        color: var(--text-color-primary);
    }  

    div {
        border-color: white;
        border-style: solid;
    }

    body {
        background-color: var(--bg-color-secondary);
    }
    </style>